* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* Свойства для сброса начальных стилей элементов */
}

body {
    font-family: "Inter", sans-serif;
    font-style: normal;
    color: #303030;
}

header {
    background-color: #2965f1;
    padding: 23px 0;
    /* Стили для хедера */
}

header span {
    font-weight: 700;
    font-size: 20px;
    color: #fff;
    /* Стили для текста в хедере IT-INCUBATOR */
}

.main-section {
    background-color: #fafaff;
    padding: 60px 0;
    /* Стили для первой секции */
}

.main-title {
    font-weight: 700;
    font-size: 48px;
    color: #303030;
    margin-bottom: 20px;
    /* Стили для заголовка в первой секции */
}

.main-text {
    font-weight: 400;
    font-size: 18px;
    color: #303030;
    /* Стили для текста в первой секции */
}

.main-image {
    max-width: 715px;
    /* Стили для изображения в первой секции */
}


.about-section {
    background-color: #fff;
    padding: 100px 0;
    /* Стили для второй секции */
}

select {
    width: 150px;
    font-weight: 400;
    font-size: 16px;
    color: #303030;
    background-image: url(./assets/img/Vector1.svg);
    background-repeat: no-repeat;
    appearance: none;
    background-position: right 0 top 50%;

    /* Стили для выпадающего списка */
}

.section-title {
    font-weight: 700;
    font-size: 24px;
    color: #303030;
    margin-bottom: 25px;
    /* Стили для заголовков во второй секции */
}

.frameworks-list {
    list-style-image: url(./assets/img/Vector2.svg);
    padding-left: 20px;
    font-weight: 400;
    font-size: 16px;
    color: #303030;
    /* Стили для маркированного списка во второй секции */
}

.books-list {
    width: 476px;
    padding-left: 0 20px;
    /* Стили для нумерованного списка во второй секции */
}

.label {
    width: 475px;
    /* Стили для подписей чекбоксов */
}

.text-field {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: rgba(48, 48, 48, 0.2);
    /* Стили для односточного поля ввода текста */
}

.btn {
    border-radius: 5px;
    width: 125px;
    background: #2965f1;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #fff;
    /* Стили для кнопки */
}

.line {
    border: 1px solid rgba(48, 48, 48, 0.3);
    width: 1440px;
    margin: 60px 0px;
    /* Стили для линии */
}

table {
    border-collapse: collapse;
    font-size: 14px;
    /* Стили для таблицы */
}

th, td {
    border: 1px solid #95A1BB;
    width: 240px;
    padding: 12px 15px;
    text-align: center;
    /* Стили для ячеек таблицы */
}

footer {
    background: rgba(163, 167, 255, 0.3);
    text-align: left;
    padding: 26px 0;
    /* Стили для футера */
}

.footer-link {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #2965f1;
    text-decoration-line: none;
    /* Стили для футера */
}